name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Code linting
    uses: lexmag/elixir-actions/.github/workflows/lint.yml@v2
    with:
      otp-version: "27"
      elixir-version: "1.18"

  test:
    name: Test suite
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        otp: ["27"]
        elixir: ["1.17", "1.18"]
        runtime_config: [true, false]

    env:
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v5

      - name: Set up Elixir environment
        uses: erlef/setup-beam@v1.20.4
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Install dependencies
        run: mix deps.get --only test

      - name: Run tests
        run: mix test
        env:
          STATIX_TEST_RUNTIME_CONFIG: ${{ matrix.runtime_config }}
